<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gxa.jbgsw.business.mapper.BillboardHarvestRelatedMapper">
   <select id="getHarvestRecommend" resultType="com.gxa.jbgsw.business.protocol.dto.BillboardHarvestRelatedResponse">
        SELECT
            a.id AS recommendId,
            c.id,
            c.`name`,
            c.tech_domain AS techKeys,
            c.unit_name AS unitName,
            c.maturity_level AS maturityLevel,
            a.s_star AS star,
            a.h_start AS hstar,
            a.user_name AS userName,
            a.recommend_at AS recommendAt,
            a.status,
            a.remark
        FROM
             t_billboard_harvest_related AS a
           LEFT JOIN t_billboard AS b ON a.billboard_id = b.id
           LEFT JOIN t_harvest AS c ON a.harvest_id = c.id
        WHERE b.audit_status = 1 AND b.`status` =  0 AND a.s_star > 0 AND
            a.billboard_id = #{billboardId}
            ORDER BY a.create_at DESC
   </select>

   <select id="getHarvestRecommendByHarvestId"
            resultType="com.gxa.jbgsw.business.protocol.dto.HavestCollaborateDTO">
       SELECT
            b.id,
            b.title,
            b.unit_name AS  nitName ,
            b.start_at AS startAt,
            b.end_at AS endAt,
            b.categories,
            b.tech_keys techKeys,
            a.s_star AS star,
            b.content
        FROM
             t_billboard_harvest_related AS a
             LEFT JOIN t_billboard AS b ON a.billboard_id = b.id
             LEFT JOIN t_harvest AS c ON a.harvest_id = c.id
        WHERE
            a.harvest_id = #{harvestId}  and b.id is not null

            ORDER BY a.create_at DESC
    </select>

   <select id="getHarvestByHarvestId" resultType="com.gxa.jbgsw.business.protocol.dto.BillboardResponse">
       SELECT
        b.title,
        b.content,
        b.unit_name AS unitName,
        b.start_at AS startAt,
        b.end_at AS endAt,
        a.s_star AS star,
        b.categories,
        b.tech_keys AS techKeys,
        b.id,
        b.amount
    FROM
        t_billboard_harvest_related a
       LEFT JOIN t_billboard b ON a.billboard_id = b.id
       where a.harvest_id = #{harvestId}
       ORDER BY a.create_at DESC
    </select>

   <select id="getBillboardstByHarvestId"
            resultType="com.gxa.jbgsw.business.protocol.dto.BillboardHarvestRelatedResponse">

    SELECT
        b.title AS name,
        b.content,
        b.unit_name AS unitName,
        b.start_at AS startAt,
        b.end_at AS endAt,
        a.s_star AS star,
        b.categories,
        b.tech_keys AS techKeys,
        b.id,
        b.type,
        b.amount
    FROM
        t_billboard_harvest_related a
       LEFT JOIN t_billboard b ON a.billboard_id = b.id
       where a.harvest_id = #{harvestId}
       ORDER BY a.create_at DESC

    </select>

   <select id="getRelatedHavestByBillboardId" resultType="com.gxa.jbgsw.business.protocol.dto.RelateHavestDTO">
            SELECT
                b.id,
                b.`name`,
                b.guide_picture AS guidePicture,
                b.appy_domain AS techDomain
            FROM
                t_billboard_harvest_related AS a
            LEFT JOIN t_harvest AS b ON a.harvest_id = b.id
            WHERE
                a.billboard_id = #{billboardId}
            ORDER BY a.s_star DESC
               LIMIT 3
    </select>
</mapper>