<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gxa.jbgsw.business.mapper.BillboardTalentRelatedMapper">

    <select id="getTalentRecommend" resultType="com.gxa.jbgsw.business.protocol.dto.BillboardTalentRelatedResponse">

        SELECT
          a.id,
          c.`name`,
          c.unit_name AS unitName,
          c.highest_edu AS highestEdu,
          c.research_direction AS researchDirection,
          c.project,
          a.s_star AS sStar
        FROM
             t_billboard_talent_related AS a
             LEFT JOIN t_billboard AS b ON a.billboard_id = b.id
             LEFT JOIN t_talent_pool AS c ON a.talent_id = c.id
        WHERE
            a.billboard_id = #{billboardId}
            ORDER BY a.create_at DESC

    </select>

    <select id="getBillboardRecommendByTalentId"
            resultType="com.gxa.jbgsw.business.protocol.dto.HarvestBillboardRelatedDTO">

            SELECT
                b.id,
                b.title,
                b.content,
                b.unit_name AS unitName ,
                b.start_at AS startAt,
                b.end_at AS endAt,
                a.s_star AS sStar,
                b.categories,
              b.tech_keys AS techKeys
            FROM
                t_billboard_talent_related AS a
            LEFT JOIN t_billboard AS b ON a.billboard_id = b.id
            WHERE
                a.talent_id = #{talentId}
               ORDER BY a.s_star DESC


    </select>

    <select id="getCollaborateByTalentId" resultType="com.gxa.jbgsw.business.protocol.dto.HavestCollaborateDTO">

        SELECT
            a.launch_user_name AS launchUserName,
           a.launch_user_id AS launchUserId,
            a.`mode`,
          a.type,
            a.detail,
            a.effect_at AS effectAt,
            a.`status`,
            a.id
        FROM
            t_collaborate AS a
         WHERE a.launch_user_id = #{talentId} OR a.pid = #{talentId}
         order by effect_at desc


    </select>

    <select id="getMyBillboradCollaborate"
            resultType="com.gxa.jbgsw.business.protocol.dto.MyBillboradCollaborateResponse">

            SELECT
                b.id,
                b.title,
                b.amount,
                b.tech_keys AS techKeys,
                a.s_star AS sStar
            FROM
                t_billboard_talent_related AS a
            LEFT JOIN t_billboard AS b ON a.billboard_id = b.id
            WHERE
                a.talent_id = #{talentId}
            ORDER BY
                a.create_at DESC

    </select>

    <select id="getRelatedTalentByBillboardId" resultType="com.gxa.jbgsw.business.protocol.dto.RelateTalentDTO">
            SELECT
                b.id,
                b.`name`,
                b.photo,
                b.professional,
                b.unit_name AS unitName,
                b.research_direction AS researchDirection

            FROM
                t_billboard_talent_related AS a
            LEFT JOIN t_talent_pool AS b ON a.talent_id = b.id
            WHERE  b.status = 1 AND a.billboard_id = #{billboardId}
            ORDER BY
                a.s_star DESC
            LIMIT 1
    </select>
</mapper>