<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gxa.jbgsw.business.mapper.BillboardMapper">


    <resultMap id="BaseResultMap" type="com.gxa.jbgsw.business.entity.Billboard" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="type" property="type" jdbcType="INTEGER" />
        <result column="unit_name" property="unitName" jdbcType="VARCHAR" />
        <result column="title" property="title" jdbcType="VARCHAR" />
        <result column="categories" property="categories" jdbcType="INTEGER" />
        <result column="tech_keys" property="techKeys" jdbcType="VARCHAR" />
        <result column="amount" property="amount" jdbcType="DECIMAL" />
        <result column="content" property="content" jdbcType="VARCHAR" />
        <result column="video_url" property="videoUrl" jdbcType="VARCHAR" />
        <result column="start_at" property="startAt" jdbcType="TIMESTAMP" />
        <result column="end_at" property="endAt" jdbcType="TIMESTAMP" />
        <result column="province_id" property="provinceId" jdbcType="INTEGER" />
        <result column="province_name" property="provinceName" jdbcType="VARCHAR" />
        <result column="city_id" property="cityId" jdbcType="INTEGER" />
        <result column="city_name" property="cityName" jdbcType="VARCHAR" />
        <result column="area_id" property="areaId" jdbcType="INTEGER" />
        <result column="area_name" property="areaName" jdbcType="VARCHAR" />
        <result column="seq_no" property="seqNo" jdbcType="INTEGER" />
        <result column="collect_num" property="collectNum" jdbcType="INTEGER" />
        <result column="share_num" property="shareNum" jdbcType="INTEGER" />
        <result column="is_top" property="isTop" jdbcType="INTEGER" />
        <result column="status" property="status" jdbcType="INTEGER" />
        <result column="create_at" property="createAt" jdbcType="TIMESTAMP" />
        <result column="create_by" property="createBy" jdbcType="BIGINT" />
        <result column="audit_status" property="auditStatus" jdbcType="INTEGER" />

        <result column="reason" property="reason" jdbcType="VARCHAR" />
        <result column="audit_user_id" property="auditUserId" jdbcType="BIGINT" />
        <result column="audit_create_at" property="auditCreateAt" jdbcType="TIMESTAMP" />
        <result column="publish_person" property="publishPerson" jdbcType="VARCHAR" />

        <result column="is_create_Video" property="isCreateVideo" jdbcType="INTEGER" />
    </resultMap>


    <select id="queryGovBillborads" parameterType="com.gxa.jbgsw.business.protocol.dto.SearchGovRequest"
            resultType="com.gxa.jbgsw.business.protocol.dto.BillboardIndexDTO">
        SELECT
            a.id,
            a.tech_keys AS techKeys,
            a.type,
            a.`status`,
            a.title,
            a.amount,
            a.content,
            a.create_at AS createAt,
            a.unit_logo AS unitLogo,
            a.unit_name AS unitName,
            a.categories
        FROM
        t_billboard AS a
        WHERE
        a.audit_status = 1
        <if test="type != null ">
            AND a.type =  #{type}
        </if>

        <if test="searchFiled != null and searchFiled != '' ">
            AND a.query_keys like CONCAT('%',#{searchFiled},'%')
        </if>

        <if test="addrId != null and addrId != '' ">
            AND (a.province_id = #{addrId} OR a.city_id = #{addrId} OR a.area_id = #{addrId})
        </if>

        <if test="categories != null ">
            AND a.categories =  #{categories}
        </if>

        <if test="startAmount != null ">
            AND (a.amount <![CDATA[ >= ]]> #{startAmount} AND a.amount <![CDATA[ <= ]]> #{endtAmount})
        </if>

        <if test="startDate != null and startDate != '' ">
            AND a.start_at <![CDATA[ >= ]]> DATE_FORMAT(#{startDate},'%Y-%m-%d %H:%i')
            AND a.end_at <![CDATA[ <= ]]> DATE_FORMAT(#{endDate},'%Y-%m-%d %H:%i')
        </if>

        <if test="status != null ">
            AND a.`status` = #{status}
        </if>
        ORDER BY  a.create_at DESC

    </select>



    <select id="pageQuery" parameterType="com.gxa.jbgsw.business.protocol.dto.BillboardRequest"
            resultMap="BaseResultMap">
        SELECT
        a.*
        FROM
        t_billboard AS a
        WHERE
        1 = 1

        <if test="auditStatus != null ">
            AND a.audit_status = #{auditStatus}
        </if>

        <if test="searchFiled != null and searchFiled != '' ">
            AND a.query_keys like CONCAT('%',#{searchFiled},'%')
        </if>

        <if test="addrId != null and addrId != '' ">
            AND (a.province_id = #{addrId} OR a.city_id = #{addrId} OR a.area_id = #{addrId})
        </if>

        <if test="categories != null ">
            AND a.categories =  #{categories}
        </if>

        <if test="startAmount != null ">
            AND (a.amount <![CDATA[ >= ]]> #{startAmount} AND a.amount <![CDATA[ <= ]]> #{endtAmount})
        </if>

        <if test="startDate != null and startDate != '' ">
            AND a.start_at <![CDATA[ >= ]]> DATE_FORMAT(#{startDate},'%Y-%m-%d %H:%i')
            AND a.end_at <![CDATA[ <= ]]> DATE_FORMAT(#{endDate},'%Y-%m-%d %H:%i')
        </if>

        <if test="status != null ">
            AND a.`status` = #{status}
        </if>

        <if test="type != null ">
            AND a.type = #{type}
        </if>

        <if test="unitName != null and unitName != '' ">
            AND a.unit_name like CONCAT('%',#{unitName},'%')
        </if>

        <if test="createBy != null ">
            AND a.create_by = #{createBy}
        </if>

        ORDER BY a.is_top DESC, a.seq_no ASC , a.create_at DESC
        <if test="amountSort != null">
            <choose>
                <when test="amountSort == 0">
                    , a.amount DESC
                </when>
                <otherwise>
                    , a.amount ASC
                </otherwise>
            </choose>
        </if>

    </select>

    <select id="LastBillboardSetData" parameterType="com.gxa.jbgsw.business.protocol.dto.LastBillboardRequest"
             resultType="com.gxa.jbgsw.business.entity.Billboard" >
       SELECT
        a.id,
        a.tech_keys AS techKeys,
        a.type,
        a.`status`,
        a.title,
        a.amount,
        a.content,
        a.create_at AS createAt,
        a.unit_logo AS unitLogo,
        a.unit_name AS unitName,
        a.categories,
        a.seq_no AS seqNo,
        a.is_top AS isTop
        FROM
        t_billboard AS a
        where a.audit_status = 1

        ORDER BY a.is_top DESC, a.seq_no ASC
        <if test="createAt != null ">
            <choose>
                <when test="createAt == 0">
                    , a.create_at DESC
                </when>
                <otherwise>
                    , a.create_at ASC
                </otherwise>
            </choose>
        </if>


        <if test="amount != null">
            <choose>
                <when test="amount == 0">
                    ,a.amount DESC
                </when>
                <otherwise>
                    ,a.amount ASC
                </otherwise>
            </choose>
        </if>

        <if test="status != null">
            <choose>
                <when test="status == 0">
                    , a.status DESC
                </when>
                <otherwise>
                    , a.status ASC
                </otherwise>
            </choose>
        </if>


    </select>

    <select id="queryMyPublish" resultType="com.gxa.jbgsw.business.protocol.dto.MyPublishBillboardInfo">

        SELECT
            a.id,
            a.title,
            a.type,
            a.categories,
            a.tech_keys AS techKeys,
            a.amount,
            a.content,
            a.reason,
            a.status,
            a.start_at AS startAt,
            a.end_at AS endAt,
            a.unit_name AS unitName,
            a.unit_logo AS unitLogo,
            a.audit_create_at AS auditDate,
            a.create_at AS createAt,
            a.pv
        FROM
            t_billboard a
        WHERE 1 = 1
        <if test="userId != null and userId != '' ">
            AND a.create_by = #{userId}
        </if>
        <if test="type != null">
            AND a.type = #{type}
        </if>
        <if test="auditStatus != null">
            AND a.audit_status = #{auditStatus}
        </if>

        ORDER BY a.create_at DESC

    </select>

    <select id="getMyReceiveBillboard" resultType="long">
        SELECT
            count(1) AS num
        FROM
            t_billboard_gain AS a
        LEFT JOIN t_billboard AS b ON a.pid = b.id
        WHERE
            a.create_by = #{userId}
            AND b.type = #{type}
    </select>

    <select id="queryMyReceiveBillboard" parameterType="com.gxa.jbgsw.business.protocol.dto.MyReceiveBillboardRequest"
            resultType="com.gxa.jbgsw.business.protocol.dto.MyReceiveBillboardInfo">
            SELECT
                a.id,
                a.pid,
                b.title,
                a.auditing_status AS auditingStatus,
                a.apply_at applyAt,
                a.attachment,
                a.attachment_name AS attachmentName,
                a.auditing_user_name AS auditingUserName,
                a.reason,
                b.type,
                a.create_at createAt
            FROM
                t_billboard_gain AS a
            LEFT JOIN t_billboard AS b ON a.pid = b.id
            WHERE
                a.create_by = #{userId}
                AND b.type = #{type}
                ORDER BY a.create_at DESC
    </select>

    <select id="queryBizBillborads" parameterType="com.gxa.jbgsw.business.protocol.dto.SearchBizRequest"
            resultType="com.gxa.jbgsw.business.protocol.dto.BillboardIndexDTO">
        SELECT
            a.id,
            a.tech_keys AS techKeys,
            a.type,
            a.`status`,
            a.title,
            a.amount,
            a.content,
            a.create_at AS createAt,
            b.logo AS unitLogo,
            a.unit_name AS unitName,
            b.star,
            a.categories
            FROM
                t_billboard a LEFT JOIN t_company b ON a.unit_name = b.`name`
            WHERE
            a.audit_status = 1

            <if test="type != null ">
                AND a.type =  #{type}
            </if>

            <if test="searchFiled != null and searchFiled != '' ">
                AND a.query_keys like CONCAT('%',#{searchFiled},'%')
            </if>

            <if test="addrId != null and addrId != '' ">
                AND (a.province_id = #{addrId} OR a.city_id = #{addrId} OR a.area_id = #{addrId})
            </if>

            <if test="categories != null ">
                AND a.categories =  #{categories}
            </if>

            <if test="startAmount != null ">
                AND (a.amount <![CDATA[ >= ]]> #{startAmount} AND a.amount <![CDATA[ <= ]]> #{endtAmount})
            </if>

            <if test="startDate != null and startDate != '' ">
                AND a.start_at <![CDATA[ >= ]]> DATE_FORMAT(#{startDate},'%Y-%m-%d %H:%i')
                AND a.end_at <![CDATA[ <= ]]> DATE_FORMAT(#{endDate},'%Y-%m-%d %H:%i')
            </if>

            <if test="status != null ">
                AND a.`status` = #{status}
            </if>
            <if test="star != null ">
                AND b.star = #{star}
            </if>
            <if test="companyType != null ">
                AND b.type = #{companyType}
            </if>

            order by a.seq_no asc , a.create_at desc
    </select>





</mapper>