<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gxa.jbgsw.business.mapper.TalentPoolMapper">

    <select id="queryTalents" parameterType="com.gxa.jbgsw.business.protocol.dto.SearchTalentsRequest"
            resultType="com.gxa.jbgsw.business.protocol.dto.SearchTalentsResponse">
        SELECT
          a.id,
          a.`name`,
          a.professional,
          a.photo,
          a.highest_edu AS highestEdu,
          a.unit_name AS unitName,
          a.research_direction AS researchDirection,
          a.tech_domain AS techDomain,
          a.tech_domain1 AS techDomain1,
          a.tech_domain2 AS techDomain2,
          a.status
        FROM
            t_talent_pool a
        WHERE a.status = 1

        <if test="searchFiled != null and searchFiled != '' ">
            AND a.query_keys like CONCAT('%',#{searchFiled},'%')
        </if>

        <if test="addrId != null and addrId != '' ">
            AND (a.province_id = #{addrId} OR a.city_id = #{addrId} OR a.area_id = #{addrId})
        </if>

        <if test="techDomain != null">
            AND a.tech_domain = #{techDomain}
        </if>
        <if test="techDomain1 != null">
            AND a.tech_domain1 = #{techDomain1}
        </if>
        <if test="techDomain2 != null">
            AND a.tech_domain2 = #{techDomain2}
        </if>

        <if test="highestEdu != null and highestEdu != '' ">
            AND a.highest_edu = #{highestEdu}
        </if>

        <if test="sex != null ">
            AND a.sex = #{sex}
        </if>

        order by create_at desc

    </select>

    <select id="pageQuery" parameterType="com.gxa.jbgsw.business.protocol.dto.TalentPoolRequest"
            resultType="com.gxa.jbgsw.business.protocol.dto.TalentPoolResponse">
        SELECT
            a.id,
            a.`name`,
            a.professional,
            a.photo,
            a.highest_edu AS highestEdu,
            a.unit_name AS unitName,
            a.research_direction AS researchDirection,
            a.tech_domain AS techDomain,
            a.tech_domain1 AS techDomain1,
            a.tech_domain2 AS techDomain2,
            a.status,
            a.audit_reason AS auditReason,
            a.audit_date AS authDate,
            a.audit_user_name AS auditUserName,
            a.create_at AS applyDate,
            (SELECT count(1) FROM t_attention AS b WHERE a.id = b.pid AND b.type = 2  ) AS attentionNum,
            (SELECT count(1) FROM t_my_share AS c WHERE a.id = c.pid AND c.share_type = 4 ) AS shareNum
        FROM
        t_talent_pool a
        WHERE 1 = 1

        <if test="searchFiled != null and searchFiled != '' ">
            AND a.query_keys like CONCAT('%',#{searchFiled},'%')
        </if>

        <if test="addrId != null and addrId != '' ">
            AND (a.province_id = #{addrId} OR a.city_id = #{addrId} OR a.area_id = #{addrId})
        </if>

        <if test="techDomain != null ">
            AND a.tech_domain = #{techDomain}
        </if>
        <if test="techDomain1 != null ">
            AND a.tech_domain1 = #{techDomain1}
        </if>
        <if test="techDomain2 != null ">
            AND a.tech_domain2 = #{techDomain2}
        </if>

        <if test="highestEdu != null and highestEdu != '' ">
            AND a.highest_edu = #{highestEdu}
        </if>

        <if test="sex != null ">
            AND a.sex = #{sex}
        </if>

        <if test="status != null ">
            AND a.status = #{status}
        </if>

        <if test="unitName != null and unitName != '' ">
            AND a.unit_name = #{unitName}
        </if>



        order by create_at desc

    </select>




</mapper>