<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gxa.jbgsw.business.mapper.TechEconomicManAppraiseMapper">

<select id="getAppraise" resultType="com.gxa.jbgsw.business.entity.TechEconomicManAppraise"
        parameterType="com.gxa.jbgsw.business.protocol.dto.TechEconomicManAppraiseRequest"   >

            SELECT
                a.id,
                a. NAME,
                a.avatar,
                a.star,
                a.content,
                a.create_at AS createAt
            FROM
                t_tech_economic_man_appraise a
            WHERE
                a.tech_economic_man_id = #{userId}

                <if test="isHaveContent == true">
                    AND a.content IS NOT NULL
                </if>
            ORDER BY a.create_at DESC

</select>


</mapper>
