<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gxa.jbgsw.business.mapper.TechEconomicManMapper">

    <select id="pageQuery" parameterType="com.gxa.jbgsw.business.protocol.dto.TechEconomicManRequest"
            resultType="com.gxa.jbgsw.business.entity.TechEconomicMan">
            SELECT
                a.id,
                a.avatar,
                a.`name`,
                a.`level`,
                a.score,
                a.label,
                a.area_name AS areaName,
                a.mobile,
                a.email,
                a.unit_name AS unitName,
                a.agreements,
                a.create_at AS createAt ,
                a.requires,
                a.attentions,
                a.success_total AS successTotal
            FROM
                t_tech_economic_man AS a
            WHERE
                1 = 1

            <if test="searchFiled != null and searchFiled != '' ">
                AND ( a.`name` like CONCAT('%',#{searchFiled},'%') OR  a.`label` like CONCAT('%',#{searchFiled},'%'))
            </if>

            <if test="addrId != null and addrId != '' ">
                AND (a.province_id = #{addrId} OR a.city_id = #{addrId} OR a.area_id = #{addrId})
            </if>

            <if test="label != null and label != '' ">
                AND a.label like CONCAT('%',#{label},'%')
            </if>

            <if test="level != null ">
                AND a.`level`  = #{level}
            </if>

            <if test="type != null ">
                AND a.`type`  = #{type}
            </if>

            ORDER BY a.create_at DESC
    </select>

    <select id="queryEconomicMans" parameterType="com.gxa.jbgsw.business.protocol.dto.SearchEconomicMansRequest"
            resultType="com.gxa.jbgsw.business.protocol.dto.SearchEconomicMansResponse">
        SELECT
            a.id,
            a.`name`,
            a.`level`,
            a.label,
            a.score,
            a.success_total AS successTotal,
            a.avatar
        FROM
        t_tech_economic_man AS a
        WHERE
        1 = 1

        <if test="searchFiled != null and searchFiled != '' ">
            AND ( a.`name` like CONCAT('%',#{searchFiled},'%') OR a.`label` like CONCAT('%',#{searchFiled},'%') )
        </if>

        <if test="addrId != null and addrId != '' ">
            AND (a.province_id = #{addrId} OR a.city_id = #{addrId} OR a.area_id = #{addrId})
        </if>

        <if test="level != null ">
            AND a.`level`  = #{level}
        </if>

        <if test="techDomain != null and techDomain != '' ">
            AND ( a.`label` like CONCAT('%',#{techDomain},'%') )
        </if>


        <if test="type != null ">
            AND a.`type`  = #{type}
        </if>

        ORDER BY a.create_at DESC
    </select>


    <select id="getLabels" resultType="string">
       SELECT DISTINCT a.label FROM t_tech_economic_man AS a
    </select>

    <select id="getEconomicManRequires" parameterType="com.gxa.jbgsw.business.protocol.dto.TechEconomicManRequiresRequest"
            resultType="com.gxa.jbgsw.business.protocol.dto.TechEconomicManRequiresResponse">
            SELECT
              a.id,
              b.id AS billboardId,
              a.`status`,
              b.title,
              b.content,
              b.unit_name,
              b.start_at,
              b.end_at,
              a.h_start,
              a.remark
            FROM
                t_billboard_economic_related AS a
            LEFT JOIN t_billboard AS b ON a.billboard_id = b.id
            WHERE 1 = 1
             <if test="userId != null">
                 AND a.user_id = #{createBy}
             </if>
              ORDER BY a.create_at DESC
    </select>


</mapper>